<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
    body {
     background-image: url('https://images.pexels.com/photos/7130872/pexels-photo-7130872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
     background-repeat: no-repeat;
     background-size: cover;
    }
    img {
  border-radius: 16%;
    }
    h1 {
    text-align:center;
    color:  white;
    }
    .col-auto{
    text-align: center;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/search.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
    $('search_form').on('submit', function(event){
      event.preventDefault();
      var count_error = 0;
     
      if($('#job').val() == '')
      {
       $('#job_error').text('Job is required');
       count_error++;
      }
      else
      {
       $('#job_error').text('');
      }
     
      if($('#country').val() == '')
      {
       $('#country_error').text('Country is required');
       count_error++;
      }
      else
      {
       $('#country_error').text('');
      }
     
      if(count_error == 0)
      {
       $.ajax({
      url:"/ajaxprogressbar",
      method:"POST",
      data:$(this).serialize(),
      beforeSend:function()
      {
       $('#save').attr('disabled', 'disabled');
       $('#process').css('display', 'block');
      },
      success:function(data)
      { 
       var percentage = 0;
     
       var timer = setInterval(function(){
        percentage = percentage + 20;
        progress_bar_process(percentage, timer,data);
       }, 1000);
      }
     })
      }
      else
      {
       return false;
      }
        
     });
       
     function progress_bar_process(percentage, timer,data)
     {
    $('.progress-bar').css('width', percentage + '%');
    if(percentage > 100)
    {
     clearInterval(timer);
     $('#search_form')[0].reset();
     $('#process').css('display', 'none');
     $('.progress-bar').css('width', '0%');
     $('#save').attr('disabled', false);
     $('#success_message').html(data);
     setTimeout(function(){
      $('#success_message').html('');
     }, 5000);
    }
     }
    });
   </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">Job Search</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Subscribe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/>
  <div class="container align-items-center">
    <nav aria-label="breadcrumb" nav style="--bs-breadcrumb-divider: '>'"">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
    </nav>
    <div class="panel-body" style="width:800px; margin:0 auto;">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {%for msg in messages %}
            <p>{{msg}}</p>
          {% endfor %}
        {% endif %}
       {% endwith %} 
      </div>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYD9KtbSMqsw923mgjzpmjoO_F5EiZv8_OlQ&s" width=1100 alt="University">
    <br/>
    <br/>
    <h1>Search for a job:</h1>
      <br/>
      <hr class="border border-primary border-3 opacity-75">
      <div class="form-group align-items-center" style="width:800px; margin:0 auto;">
        <form method="GET" id="search_form">
          {{form.hidden_tag()}}
          {{form.csrf_token}}
          {{form.job.label(class="form-label")}}
          {{form.job(class="form-control",size=3)}}
          <span id="job_error" class="text-danger"></span>
          <br/>
          <fieldset name="job-other">
            <div>
              {{ form.job_details.label() }}
              {{ form.job_details() }}
            </div>
          </fieldset>
      </div>
      <hr class="border border-primary border-3 opacity-75">
      <div class="form-group align-items-center" style="width:800px; margin:0 auto;">
        {{form.country.label(class="form-label")}}
        {{form.country(class="form-control",size=3)}}
        <span id="country_error" class="text-danger"></span>
        <br/>
        <fieldset name="country-other">
          <div>
            {{ form.country_details.label() }}
            {{ form.country_details() }}
          </div>
        </fieldset>
      </div>
      <br/>
      <div class="col-auto">
        <input id="submit" type="submit" value="Search" class="btn btn-primary btn-lg" style="width:800px; margin:0 auto;">
      </div>
      <img id="myspinner" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnNiNjkxM3RmcjhjZmVzYzQzZjVhMDY0Y3NvYzVsODhqZ214M2JycSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjI6SIIHBdRxXI40/giphy.gif" alt="Searching, please wait" style="display:none;"/>
      </form>
    </div>

  <script>
  document.getElementById('search_form').addEventListener('submit', function(event) {
    //event.preventDefault(); // Prevent the form from submitting the traditional way
    document.getElementById('myspinner').style.display = 'block'; // Show the spinner
    // Simulate an asynchronous GET request
    setTimeout(() => {
        document.getElementById('myspinner').style.display = 'none'; // Hide the spinner after the request is complete
        //this.submit(); // Submit the form the traditional way
    }, 120000); // Simulate a 2 second delay (remove or modify as needed)
    });
    </script>
</body>
</html>
